<div class="container">
  <div class="row">
    <h3>Employee List</h3>
    <div class="col">
      <!-- @for (employee of employeeList; track employee.id) {
        <div class="card" style="width: 18rem;">
          <img [src]="employee.picture" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ employee.firstName }} {{ employee.lastName }}</h5>
            <p class="card-text">{{ employee.email }}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      } -->
    </div>
  </div>
</div>