<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/hero.webp" alt="" width="288" height="228">
        <h1 class="display-5 fw-bold text-body-emphasis">TeamFlow</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Welcome to TeamFlow, the ultimate platform designed to streamline your workplace collaboration and boost productivity. With TeamFlow, you can efficiently manage employees, track attendance, handle leave requests, and stay updated with company announcements—all in one intuitive interface. Our modern design and user-friendly tools ensure a seamless workflow, helping teams stay connected and focused. Explore the power of teamwork with TeamFlow today!</p>
          <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
          </div> -->
        </div>
      </div>
</div>